In [2]:
import numpy as np
import pandas as pd

In [6]:
df = pd.DataFrame(
    [10,20,45,12,8],index=['x1','x2','x3','x4','x5'],columns=['time']
)

X is time

In [7]:
df

    time
x1    10
x2    20
x3    45
x4    12
x5     8

Probability more than 20 minutes

P(X > 20)

In [16]:
# 1 in 5 = 20 %
len(df[df['time'] > 20])/len(df) * 100

20.0

Probability more than and equal to 20 minutes

P(X >= 20)

In [17]:
# 2 in 5 
len(df[df['time'] >= 20])/len(df) * 100

40.0

In [19]:
df = pd.DataFrame(
    {
        'Years Experience':[5,10,8,1],
        'Department':['IT','Finance','HR','Finance'],
        'Part/Full-Time':['Part-Time','Full-Time','Full-Time','Part-Time']
    }
)

df

   Years Experience Department Part/Full-Time
0                 5         IT      Part-Time
1                10    Finance      Full-Time
2                 8         HR      Full-Time
3                 1    Finance      Part-Time

<img src="image/formula.PNG">

$\large\Sigma^2_{i=1}{x_i} = x_1 + x_2 $

$ \large\Sigma^9_{i=7}{x_i} = x_7 + x_8 + x_9$

### Notation for Mean

<img src="image/formula basic.PNG">

In [20]:
np.sum([5,15,3,3,8,10,12])

56

In [22]:
np.sum([15,3,3,8,10,12]) + 6

57

In [23]:
np.sum([3,3,8,10]) / (7-1)

4.0