Measures of center, give you an idea of the average student. 
Measures of spread, give you an idea of how students differ

Four Aspects for Quantitative Data

1. Measures of Center
    * mean
    * median
    * mode 
    
2. Measures of Spread
    * Range
    * IQR
    * Standard Deviation
    * Variance
3. The Shape of the data.
4. Outliers

In [1]:
import numpy as np
import pandas as pd

In [4]:
dog = np.array([5,3,8,3,15,48,9])

print(np.mean(dog))

print(np.median(dog))

13.0
8.0

Total data in Variable $n$

Random Variable $X$

The capital $X$ is associated with this idea of a random variable, while the observations of the random variable take on lowercase $x$ values.

Element in Random Variable  $x_1$ ... $x_n$

In [ ]:
pd.DataFrame()

In [6]:
df = pd.DataFrame(
    [10,20,45,12,8],index=['x1','x2','x3','x4','x5'],columns=['time']
)

X is time

In [7]:
df

    time
x1    10
x2    20
x3    45
x4    12
x5     8

### Probability

1. probability someone spends more than 20 minutes in website

$P(X>20)$

In [16]:
# 1 in 5 = 20 %
len(df[df['time'] > 20])/len(df) * 100

20.0

2. Probability more than and equal to 20 minutes

$P(X >= 20)$

In [17]:
# 2 in 5 
len(df[df['time'] >= 20])/len(df) * 100

40.0

In [19]:
df = pd.DataFrame(
    {
        'Years Experience':[5,10,8,1],
        'Department':['IT','Finance','HR','Finance'],
        'Part/Full-Time':['Part-Time','Full-Time','Full-Time','Part-Time']
    }
)

df

   Years Experience Department Part/Full-Time
0                 5         IT      Part-Time
1                10    Finance      Full-Time
2                 8         HR      Full-Time
3                 1    Finance      Part-Time

<img src="image/formula.PNG">

$\sum_{i=1}^{2}x_i = x_1 + x_2 $

$ \large\Sigma^9_{i=7}{x_i} = x_7 + x_8 + x_9$

### Notation for Mean

<img src="image/formula basic.PNG">

In [20]:
np.sum([5,15,3,3,8,10,12])

56

In [22]:
np.sum([15,3,3,8,10,12]) + 6

57

In [23]:
np.sum([3,3,8,10]) / (7-1)

4.0

### Histogram

* common quantitative visual

1. bin our data

### Boxplot

* comparing spread of datasets
* box plots can be easier to compare two or more groups.

<img src="image/histogram.png"/>

### Standard deviation

* single value to compare the two distribution spreads
* standard deviation is one of the most common measures for talking about the spread of data. 
* It is defined as the average distance of each observation from the mean.
* standard deviation , on average how much each point varies from the mean of the points


<img src="image/standard_deviation.jpg"/>

* Dataset 

$x$ = [10,14,10,6]

$\bar{x} = \frac{\sum_{i=1}^{4}x_i }{n}=\frac{40}{4}=10$

$x_i - \bar{x} = $

$(10 - 10)^2$ = $0^2=0$ <br>
$(14 - 10)^2$ = $4^2=16$ <br>
$(10 - 10)^2$ = $0^2=0$ <br>
$(6 - 10)^2$ = $-4^2=16$

* Variance

$\frac{1}{n}\sum_{i=1}^n(x_i - \bar{x})^2=\frac{1}{4}(0+16+0+16)=8$

* standard deviation square root of variance

$\sqrt( \frac{1}{n}\sum_{i=1}^n(x_i - \bar{x})^2 )$

### 5 No. Summary

1. Min
2. Max
3. Q1 : 25%
4. Q3 : 75%
5. Q2 : Median 50%

Range : Max - Min

IQR : Q3 - Q1

In [23]:
data = np.array([5, 10, 3, 8, 12, 4, 1, 2, 8])

print(f'N: {len(data)}')
print(f'Range: {np.max(data) - np.min(data)}')
print(f'Median: {np.median(data)}')
print(f'First Quartile: {np.quantile(data,q=0.25, interpolation="midpoint")}')
print(f'Third Quartile: {np.quantile(data,q=0.75, interpolation="midpoint")}')

N: 9
Range: 11
Median: 5.0
First Quartile: 3.0
Third Quartile: 8.0

In [24]:
data = np.array([1, 5, 10, 3, 8, 12, 4])

In [26]:
np.std(data)

3.6811710647786073